@import "./colores";

.footer{
    
    .footer__div--uno{
        height: 10rem;
        background-color: $color-primario;
    }
    .footer__div--dos{
        height: 5rem;
        background-color: $color-secundario;
    }
}
