@import "./colores";
.main{
    width: 100%;
    min-height: 100vh;
}

.yo{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 1rem 1rem 1rem $color-primario;
}
.main__div--texto{
    background-color: $color-primario-transparente;
    height: auto;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.5rem $color-primario;
}

.titulo{
    font-family: 'Hubballi', cursive;
    font-size: 2.5rem;
}
.parrafo{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

.mapa{
    width: 100%;
    border-radius: 0.5rem;
}
.main__div--media{
    width: 100%;
    height: auto;
}
.row{
    min-height: 200vh;
}