@import "./colores";
.main{
    width: 100%;
    min-height: 100vh;
    
}
.costurera{
    width: 100%;
    height: 100%;
}
.main--article{
    background-color: $color-rosa;
    height: 30rem;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
}
.main--media{
    background-color: none;
    width: 100%;
    height: 30rem;
    margin: 1rem;
}
.main--section{
    margin: 1rem;
}
.titulo{
    font-family: 'Hubballi', cursive;
    text-align: center;
}