@import "./colores";
.nav{
    height: 2.5rem;
    background-color: $color-primario !important;
    box-shadow: 0rem 0rem 0.3rem $black;
}
.nav--logo{
    height: 2.5rem;
}
.boton--nav{
    filter: invert(100%);
    height: 2rem;
}
.nav-link{
    font-family: 'Hubballi', cursive;
    font-size: 1.5rem;
    color: black !important;

}
.cuerpo{
    width: 70%;
    background-color: $color-primario;
}

