@media screen and (max-width: 768px){
    .container__div--alto{
        height: auto;
    }
    .form__fieldset{
        width: 100%;
        height: auto;
        
    }
    
    .main--media{
        background-color: none;
        width: 100%;
        height: auto;
        margin: 1rem;
    }
}